.target-bar-container {
  width: 10%;
}

.progress {
  width: 60px;
  height: 300px;
}

.target-wrap {
  margin: 20px 0;
  overflow: hidden;
  position: relative;
}

.target-bar {
    background: #ddd;
    left: 0;
    position: absolute;
    bottom: 0;
  }

.struggling {
  background: #CC3333;
}
.steady {
  background: #E8942C;
}
.great {
  background: #2D8735;
}
